ebike.json
[{"id":"7e90d0c070497c0c","type":"tab","label":"Ebike","disabled":false,"info":"","env":[]},{"id":"cf1914b44c3978f1","type":"group","z":"7e90d0c070497c0c","name":"Start Ladevorgang","style":{"fill":"#ffffff","label":true},"nodes":["aa06f96907bbd348","cef5fce1395b6c6c","76bf2347da92814d","69f7f24d41fbfc67","aaa18f4fcc9c5b32","74434b6a6100e5b2","3a06dc1d9c3ed2a4","3bc43b78f84daf91","7403ef1028c623bb","bad4e7d1666d7e25","d618809e905d6deb","28e24af1342c9fc1","058fbe486eef7bdd","8e01b446a36e3305","4b8a27e3c1ef4196","e6e451e3eebaab76","567a82445f642180","d094e9fd6a56c723"],"x":174,"y":79,"w":1552,"h":502},{"id":"400082a3c14b9623","type":"group","z":"7e90d0c070497c0c","name":"Ende Ladevorgang","style":{"fill":"#ffffff","label":true},"nodes":["51b844041008cf1a","9e32e36ef7f5156e","0892c354a0fa9196","0976283a1a69afd0","2f372ee704ee9a32","eaf9d3923b75d79a","877b5e73e9a392a6","1b494783fa0727c5","af774034c17b93cb","28461c5897b103ad","b8861fa2bc65e734","0c58dd77d49b5a8c","c44c693a95cae596","a7b0610d085547d2","cd997fde4f99dad0","9edf54485c430e8a","b70b18c1f9664453","eb13d36c4a71848a","4d5424e62496bd1a","be8d05321fc03661"],"x":174,"y":619,"w":1612,"h":402},{"id":"ff86d1dd73eae4f7","type":"group","z":"7e90d0c070497c0c","name":"Aktualisierung Zustandsvariablen","style":{"fill":"#ffffff","label":true},"nodes":["7a54000a436ba6a4","03802bd0028633a1","3e75fecfe54b9f68","169b7cd8c51d1398","2f2029bee57505a5","e6f2c8c052a150fd","ec5aca66ba4f7677","2c7e74eeb0904ad4","65d4547c94c91de6","7d465b2d0b42fb2c","df2f731be67ccb36","c0c7a35adf2e0d74","8a01fe2bf7e6a52e"],"x":174,"y":1099,"w":1012,"h":322},{"id":"51b844041008cf1a","type":"http request","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"Turn OFF","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.169.1.156/rpc/Switch.Set?id=0&on=false","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1500,"y":780,"wires":[["0976283a1a69afd0"]]},{"id":"9e32e36ef7f5156e","type":"function","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"Abschaltung","func":"if (msg.topic.includes(\"power\")) {\n    flow.set(\"currentPower\", msg.payload)\n} else {\n    flow.set(\"SocketState\", msg.payload)\n}\n\nif (flow.get(\"allowSwitchOff\") === true) {\n    var socketState = flow.get(\"SocketState\")\n    var currentPower = flow.get(\"currentPower\")\n\n    if (socketState === \"on\") {\n        \n        var switchOff = false\n        var ladeende = flow.get('Ladeende')\n\n        if (ladeende <= 90) {\n            //var currentLoadState = -0.0245*currentPower*currentPower + 11.253*currentPower - 1158.6\n            var currentLoadState = -0.0246*currentPower*currentPower + 11.284*currentPower - 1160.2\n        \n            if (currentLoadState >= ladeende) {\n                switchOff = true\n            }\n        }\n        \n        // Final cut off if load reaches 100% / charger goes to idle\n        if (currentPower <= 1.5) {\n            switchOff = true\n        }\n\n        if (switchOff) {\n            flow.set(\"valueDecreasedCounter\", 0)\n            flow.set(\"allowSwitchOff\", false)\n            return msg\n        }\n    }\n}","outputs":1,"timeout":"","noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nflow.set(\"currentPower\", 0.0)","finalize":"","libs":[],"x":1170,"y":780,"wires":[["51b844041008cf1a"]]},{"id":"0892c354a0fa9196","type":"ui_text_input","z":"7e90d0c070497c0c","d":true,"g":"400082a3c14b9623","name":"LadeleistungDebug","label":"LadeleistungDebug","tooltip":"LadeleistungDebug","group":"ecc7c8e519b3dfbd","order":19,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":290,"y":740,"wires":[["877b5e73e9a392a6"]]},{"id":"cef5fce1395b6c6c","type":"function","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"SolarMindestertrag","func":"flow.set('mindestErtrag', msg.payload);","outputs":1,"timeout":"","noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nflow.set('mindestErtrag', 400);","finalize":"","libs":[],"x":730,"y":240,"wires":[[]]},{"id":"03802bd0028633a1","type":"change","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"Setzte Solarmindestertrag","rules":[{"t":"set","p":"payload","pt":"msg","to":"mindestErtrag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1200,"wires":[["df2f731be67ccb36"]]},{"id":"3e75fecfe54b9f68","type":"inject","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"10","topic":"trigger","payload":"","payloadType":"date","x":280,"y":1320,"wires":[["03802bd0028633a1","169b7cd8c51d1398","e6f2c8c052a150fd","ec5aca66ba4f7677","7a54000a436ba6a4"]]},{"id":"76bf2347da92814d","type":"comment","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"","info":"Rückkopplung um beim Neustart den richtigen Wert im Eingabefeld angezeigt zu bekommen","x":600,"y":120,"wires":[]},{"id":"169b7cd8c51d1398","type":"change","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"Setzte Ladeende","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ladeende","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1260,"wires":[["7d465b2d0b42fb2c","8a01fe2bf7e6a52e"]]},{"id":"2f2029bee57505a5","type":"ui_text","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","group":"ecc7c8e519b3dfbd","order":11,"width":0,"height":0,"name":"Abschalterlaubnis","label":"Abschalterlaubnis","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":870,"y":1320,"wires":[]},{"id":"e6f2c8c052a150fd","type":"change","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"Setzte Abschalterlaubnis","rules":[{"t":"set","p":"payload","pt":"msg","to":"allowSwitchOff","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1320,"wires":[["2f2029bee57505a5"]]},{"id":"0976283a1a69afd0","type":"function","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"ResetVars","func":"flow.set(\"allowSwitchOff\", false)\nflow.set(\"loadingactive\", false)","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":780,"wires":[[]]},{"id":"2f372ee704ee9a32","type":"function","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"CalculateLoadState","func":"const currentPower = msg.payload;\n\nif (flow.get(\"loadingactive\") && (currentPower >= 158.3)) {    \n    return {payload: (-0.0246*currentPower*currentPower + 11.284*currentPower - 1160.2).toFixed(1)};\n} else {\n    return {payload: \"Kein Ladevorgang\"}\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":900,"wires":[["9edf54485c430e8a"]]},{"id":"eaf9d3923b75d79a","type":"ui_switch","z":"7e90d0c070497c0c","d":true,"g":"400082a3c14b9623","name":"SocketStateDebug","label":"SocketStateDebug","tooltip":"","group":"ecc7c8e519b3dfbd","order":20,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":290,"y":780,"wires":[["cd997fde4f99dad0"]]},{"id":"877b5e73e9a392a6","type":"function","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"","func":"return {topic: \"power\", payload: msg.payload.toString()}","outputs":1,"timeout":"","noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nflow.set(\"ladeleistungDebug\", 0)","finalize":"","libs":[],"x":480,"y":740,"wires":[[]]},{"id":"ec5aca66ba4f7677","type":"change","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"Setzte Ladevorgang","rules":[{"t":"set","p":"payload","pt":"msg","to":"loadingactive","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1380,"wires":[["2c7e74eeb0904ad4"]]},{"id":"2c7e74eeb0904ad4","type":"ui_text","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","group":"ecc7c8e519b3dfbd","order":13,"width":0,"height":0,"name":"Ladevorgang","label":"Ladevorgang","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":860,"y":1380,"wires":[]},{"id":"aa06f96907bbd348","type":"function","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"SolarMaxEinspeisung","func":"flow.set('maxEinspeisung', msg.payload);","outputs":1,"noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nflow.set('maxEinspeisung', 50);","finalize":"","libs":[],"x":740,"y":180,"wires":[[]]},{"id":"7a54000a436ba6a4","type":"change","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"Setzte MaxEinspeisung","rules":[{"t":"set","p":"payload","pt":"msg","to":"maxEinspeisung","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1140,"wires":[["c0c7a35adf2e0d74"]]},{"id":"69f7f24d41fbfc67","type":"http request","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"Turn ON","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.169.1.156/rpc/Switch.Set?id=0&on=true","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1080,"y":380,"wires":[["7403ef1028c623bb","3a06dc1d9c3ed2a4"]]},{"id":"aaa18f4fcc9c5b32","type":"function","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"Solarladen","func":"if (msg.topic.includes(\"tasmota\")) {\n    flow.set(\"verbrauch\", parseFloat(msg.payload))\n} else if (msg.topic.includes(\"solar\")) {\n    flow.set(\"solarertrag\", parseFloat(msg.payload))\n} else if (msg.topic === \"switchSolarLaden\") {\n    context.set(\"solarladen\", msg.payload)\n} else {\n    node.warn(\"Message topic \\\"\" + msg.topic + \"\\\" unknown\")\n}\n\nif (flow.get(\"SocketState\") === \"off\") {\n    var einspeisung = flow.get(\"verbrauch\")\n    if (einspeisung > 0) {\n        einspeisung = 0\n    }\n    if (flow.get(\"solarertrag\") >= flow.get('mindestErtrag') && -einspeisung >= flow.get('maxEinspeisung')) {\n        if (context.get(\"solarladen\") === true) {\n            flow.set(\"allowSwitchOff\", false)\n            // Workaround as switch node does not provide output if it its state is changed by nodered\n            return {enable: false, payload: false, topic: \"switchSolarLaden\"};\n        }\n    }\n}","outputs":1,"timeout":"","noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nflow.set(\"allowSwitchOff\", true)\ncontext.set(\"solarladen\", false)","finalize":"","libs":[],"x":850,"y":380,"wires":[["69f7f24d41fbfc67","8e01b446a36e3305","4b8a27e3c1ef4196"]]},{"id":"74434b6a6100e5b2","type":"ui_text_input","z":"7e90d0c070497c0c","d":true,"g":"cf1914b44c3978f1","name":"SolarertragDebug","label":"SolarertragDebug","tooltip":"SolarertragDebug","group":"ecc7c8e519b3dfbd","order":17,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"solar","sendOnBlur":true,"className":"","topicType":"str","x":330,"y":500,"wires":[[]]},{"id":"3a06dc1d9c3ed2a4","type":"delay","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1290,"y":440,"wires":[["3bc43b78f84daf91"]]},{"id":"3bc43b78f84daf91","type":"function","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"AbschaltblockierungAufheben","func":"flow.set(\"allowSwitchOff\", true)","outputs":1,"timeout":"","noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nflow.set(\"allowSwitchOff\", false)","finalize":"","libs":[],"x":1570,"y":440,"wires":[[]]},{"id":"7403ef1028c623bb","type":"function","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"LoadingActiveState","func":"flow.set(\"loadingactive\", true)","outputs":1,"noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nflow.set(\"loadingactive\", false)","finalize":"","libs":[],"x":1530,"y":380,"wires":[[]]},{"id":"1b494783fa0727c5","type":"function","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"Detect manually switched socket","func":"if (flow.get(\"SocketState\") === \"on\") {\n    /*\n     * This means switch was turned on with button on socket\n     * -> enable mechanism to turn socket off automatically\n     */\n    if (flow.get(\"loadingactive\") === false) {\n        flow.set(\"loadingactive\", true)\n        flow.set(\"allowSwitchOff\", true)\n    }\n} else if (flow.get(\"SocketState\") === \"off\") {\n    /*\n     * This means switch was turned off manually\n     */\n    if (flow.get(\"loadingactive\") === true) {\n        flow.set(\"loadingactive\", false)\n        flow.set(\"allowSwitchOff\", false)\n    }\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":700,"wires":[[]]},{"id":"af774034c17b93cb","type":"delay","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1190,"y":700,"wires":[["1b494783fa0727c5"]]},{"id":"bad4e7d1666d7e25","type":"ui_text_input","z":"7e90d0c070497c0c","d":true,"g":"cf1914b44c3978f1","name":"EnergieverbrauchDebug","label":"EnergieverbrauchDebug","tooltip":"EnergieverbrauchDebug","group":"ecc7c8e519b3dfbd","order":18,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"\"tasmota\"","sendOnBlur":true,"className":"","topicType":"str","x":310,"y":540,"wires":[[]]},{"id":"28461c5897b103ad","type":"server-state-changed","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"","server":"4a64b307.f07c4c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["switch.shellyfahrrad_switch_0"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":810,"y":740,"wires":[["9e32e36ef7f5156e","af774034c17b93cb"]]},{"id":"b8861fa2bc65e734","type":"comment","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"","info":"Delay so socket is not directly switched off if it takes a few seconds for power to increase","x":1200,"y":660,"wires":[]},{"id":"d618809e905d6deb","type":"poll-state","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"","server":"4a64b307.f07c4c","version":3,"exposeAsEntityConfig":"","updateInterval":"30","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":false,"entityId":"sensor.solarpanel_leistung","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":530,"y":360,"wires":[["aaa18f4fcc9c5b32"]]},{"id":"28e24af1342c9fc1","type":"poll-state","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"","server":"4a64b307.f07c4c","version":3,"exposeAsEntityConfig":"","updateInterval":"30","updateIntervalType":"num","updateIntervalUnits":"seconds","outputInitially":true,"outputOnChanged":false,"entityId":"sensor.tasmota_haus_power_curr","stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputs":1,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":550,"y":420,"wires":[["aaa18f4fcc9c5b32"]]},{"id":"058fbe486eef7bdd","type":"ha-button","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"LadeSofort","version":0,"debugenabled":false,"outputs":1,"entityConfig":"137bdab77f5626f3","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":840,"y":500,"wires":[["69f7f24d41fbfc67"]]},{"id":"0c58dd77d49b5a8c","type":"ha-button","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"Abschalten","version":0,"debugenabled":false,"outputs":1,"entityConfig":"392a8e9ebb0b40ce","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1340,"y":820,"wires":[["51b844041008cf1a"]]},{"id":"8e01b446a36e3305","type":"ha-switch","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"2b490b9552182afe","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"switchSolarLaden","valueType":"str"}],"x":850,"y":300,"wires":[["aaa18f4fcc9c5b32"],["aaa18f4fcc9c5b32"]]},{"id":"4b8a27e3c1ef4196","type":"function","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"Workaround","func":"// Workaround to get output of function node to its input\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":440,"wires":[["aaa18f4fcc9c5b32"]]},{"id":"c44c693a95cae596","type":"ha-select","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"Ladeende","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"b5cdcab3eff6c8e1","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":680,"y":980,"wires":[["a7b0610d085547d2"]]},{"id":"65d4547c94c91de6","type":"ha-select","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"Ladeende","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"b5cdcab3eff6c8e1","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":940,"y":1260,"wires":[[]]},{"id":"a7b0610d085547d2","type":"function","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"SetLadeende","func":"flow.set('Ladeende', parseFloat(msg.payload))","outputs":1,"timeout":0,"noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nflow.set('Ladeende', 80)","finalize":"","libs":[],"x":860,"y":980,"wires":[[]]},{"id":"7d465b2d0b42fb2c","type":"function","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"FloatToString","func":"return {payload: msg.payload.toString()};","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1260,"wires":[["65d4547c94c91de6"]]},{"id":"df2f731be67ccb36","type":"ha-number","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"Solar Mindestertrag","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"b3fa8f0b053e5c47","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":810,"y":1200,"wires":[[]]},{"id":"e6e451e3eebaab76","type":"ha-number","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"Solar Mindestertrag","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"b3fa8f0b053e5c47","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":470,"y":240,"wires":[["cef5fce1395b6c6c"]]},{"id":"c0c7a35adf2e0d74","type":"ha-number","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"Solar max Einspeisung","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"b6d2fc47462ebe65","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":820,"y":1140,"wires":[[]]},{"id":"567a82445f642180","type":"ha-number","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"Solar max Einspeisung","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"b6d2fc47462ebe65","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":480,"y":180,"wires":[["aa06f96907bbd348"]]},{"id":"cd997fde4f99dad0","type":"function","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"","func":"if (msg.payload) {\n    return {payload: \"on\"}\n} else {\n    return {payload: \"off\"}\n}","outputs":1,"timeout":"","noerr":0,"initialize":"// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nflow.set(\"socketStateDebug\", false)","finalize":"","libs":[],"x":480,"y":780,"wires":[[]]},{"id":"d094e9fd6a56c723","type":"inject","z":"7e90d0c070497c0c","g":"cf1914b44c3978f1","name":"","props":[{"p":"enable","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":610,"y":300,"wires":[["8e01b446a36e3305"]]},{"id":"9edf54485c430e8a","type":"ha-text","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"de9da41bea43196d","mode":"set","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":1430,"y":900,"wires":[[]]},{"id":"b70b18c1f9664453","type":"inject","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"Trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"0","topic":"trigger","payload":"","payloadType":"date","x":560,"y":840,"wires":[["eb13d36c4a71848a"]]},{"id":"eb13d36c4a71848a","type":"http request","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"Get state","method":"GET","ret":"txt","paytoqs":"ignore","url":"192.169.1.156/rpc/Switch.GetStatus?id=0","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":720,"y":840,"wires":[["4d5424e62496bd1a"]]},{"id":"4d5424e62496bd1a","type":"function","z":"7e90d0c070497c0c","g":"400082a3c14b9623","name":"GetSocketPower","func":"if (!msg.payload.includes(\"RequestError\")) {\n    msg.payload = JSON.parse(msg.payload).apower\n    msg.topic = \"power\"\n    return msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":840,"wires":[["9e32e36ef7f5156e","2f372ee704ee9a32","be8d05321fc03661"]]},{"id":"8a01fe2bf7e6a52e","type":"ui_numeric","z":"7e90d0c070497c0c","g":"ff86d1dd73eae4f7","name":"","label":"Ladeende","tooltip":"","group":"ecc7c8e519b3dfbd","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":1100,"y":1300,"wires":[[]]},{"id":"be8d05321fc03661","type":"ui_text","z":"7e90d0c070497c0c","g":"400082a3c14b9623","group":"ecc7c8e519b3dfbd","order":4,"width":0,"height":0,"name":"Ladeleistung","label":"Ladeleistung","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1190,"y":960,"wires":[]},{"id":"ecc7c8e519b3dfbd","type":"ui_group","name":"Standard","tab":"a203a452dff735f6","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"4a64b307.f07c4c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":true,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":true},{"id":"137bdab77f5626f3","type":"ha-entity-config","server":"4a64b307.f07c4c","deviceConfig":"50c2907830a18ea9","name":"","version":"6","entityType":"button","haConfig":[{"property":"name","value":"SFT_LadeSofort"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"392a8e9ebb0b40ce","type":"ha-entity-config","server":"4a64b307.f07c4c","deviceConfig":"9f4a5862feeffa29","name":"","version":"6","entityType":"button","haConfig":[{"property":"name","value":"SFT_Abschalten"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"2b490b9552182afe","type":"ha-entity-config","server":"4a64b307.f07c4c","deviceConfig":"ea4be4468a18c813","name":"","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"SFT_LadeSolarSw"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"b5cdcab3eff6c8e1","type":"ha-entity-config","server":"4a64b307.f07c4c","deviceConfig":"04b4a9239ecc5166","name":"","version":"6","entityType":"select","haConfig":[{"property":"name","value":"SFT_Ladeende"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"options","value":["100","90","85","80","75","70","65","60"]}],"resend":false,"debugEnabled":false},{"id":"b3fa8f0b053e5c47","type":"ha-entity-config","server":"4a64b307.f07c4c","deviceConfig":"eab345bb7fff74a6","name":"","version":"6","entityType":"number","haConfig":[{"property":"name","value":"SFT_SolarMindestertrag"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"W"},{"property":"min_value","value":0},{"property":"max_value","value":600},{"property":"step_value","value":""},{"property":"mode","value":"box"}],"resend":false,"debugEnabled":false},{"id":"b6d2fc47462ebe65","type":"ha-entity-config","server":"4a64b307.f07c4c","deviceConfig":"ec6db8fc6c77358f","name":"","version":"6","entityType":"number","haConfig":[{"property":"name","value":"SFT_SolarMaxEinspeisung"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"W"},{"property":"min_value","value":0},{"property":"max_value","value":600},{"property":"step_value","value":""},{"property":"mode","value":"box"}],"resend":false,"debugEnabled":false},{"id":"de9da41bea43196d","type":"ha-entity-config","server":"4a64b307.f07c4c","deviceConfig":"c97ca6bf13c70655","name":"","version":"6","entityType":"text","haConfig":[{"property":"name","value":"SFT_Ladestand"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"mode","value":"text"},{"property":"min_length","value":""},{"property":"max_length","value":""},{"property":"pattern","value":""}],"resend":false,"debugEnabled":false},{"id":"a203a452dff735f6","type":"ui_tab","name":"Ebike","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"50c2907830a18ea9","type":"ha-device-config","name":"SFT_LadeSofort","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"9f4a5862feeffa29","type":"ha-device-config","name":"SFT_Abschalten","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"ea4be4468a18c813","type":"ha-device-config","name":"SFT_LadeSolarSw","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"04b4a9239ecc5166","type":"ha-device-config","name":"SFT_Ladeende","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"eab345bb7fff74a6","type":"ha-device-config","name":"SFT_SolarMindestertrag","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"ec6db8fc6c77358f","type":"ha-device-config","name":"SFM_SolarMaxEinspeisung","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"c97ca6bf13c70655","type":"ha-device-config","name":"SFT_Ladestand","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"a98efc90f5b0dbd8","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6","node-red-contrib-home-assistant-websocket":"0.68.0"}}]
